:root {
    --background: #fcfcfc;
    --link-color: #00f;
    --text-color: #000;
    --table-header-background: #4f5768;
    --table-header-color: #fff;
    --table-row-even: #f3f3f3;
    --table-row-border: #ddd;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Thanks Dark Reader */
        --background: #1d1e1f;
        --link-color: #5298ea;
        --text-color: #cdcbc8;
        --table-header-background: #303540;
        --table-header-color: #cdcbc8;
        --table-row-even: #212324;
        --table-row-border: #383b3e;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--background);
    color: var(--text-color);

    font-family: system-ui, sans-serif;
    font-size: 13pt;

    overflow-y: scroll;

    > header {
        padding-top: 20px;

        font-size: 2em;
        font-weight: 100;
        text-align: center;

        > a {
            color: var(--text-color);
        }
    }
}

a {
    color: var(--link-color);

    text-decoration: none;
}

h1, h2, h3, h4 {
    margin: .5em 0 0;
}

h1 {
    margin: 0.25em 0 0;

    font-size: 1.5em;
}

h2 {
    font-size: 1.35em;
}

h3 {
    font-size: 1.2em;
}

main {
    max-width: 100%;

    width: 65ch;

    margin-top: 1.5em;

    > * {
        overflow-x: auto;
    }

    > .highlight {
        display: flex;

        > * {
            flex-grow: 1;
        }
    }
}

nav {
    display: block;
    text-align: center;
    margin: 10px 0;
}

:is(h1, h2, main, nav, footer) > a {
    color: var(--text-color);
}

article {
    margin: 10px 0 0;

    padding: 0 0 15px;

    border-bottom: 1px solid #231c332e;

    &:first-child {
        margin-top: 0;
    }

    > * {
        overflow-x: auto;
    }

    > header > h2 {
        margin: 0.25em 0 0;

        font-size: 1.5em;
    }

    > footer {
        padding-right: 10px;

        text-align: right;

        font-size: 12pt;
    }
}

p {
    margin: 0;

    padding: .5em 0;
}

pre {
    margin: .5em 0;
}

time {
    font-size: 13px;
}

table {
    width: 100%;

    margin: 0;

    border-collapse: collapse;

    font-size: 0.9em;
    font-family: sans-serif;

    border: 1px solid var(--table-row-border);

    thead tr {
        background: var(--table-header-background);
        color: var(--table-header-color);
        text-align: left;
    }

    tbody tr {
        border-bottom: 1px solid var(--table-row-border);

        &:nth-of-type(even) {
            background: var(--table-row-even);
        }
    }

    tbody tr:nth-of-type(even) {
        background: var(--table-row-even);
    }

    :is(th, td) {
        padding: 12px 15px;
    }
}

.chroma {
    margin: .5em 0;

    .lntable .lntd:first-child {
        width: 25px;
    }
}
