@media (prefers-color-scheme: dark) {
    :root {
        /* Thanks Dark Reader */
        --background: #1d1e1f;
        --link-color: #5298ea;
        --text-color: #cdcbc8;
        --table-header-background: #303540;
        --table-header-color: #cdcbc8;
        --table-row-even: #212324;
        --table-row-border: #383b3e;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #fcfcfc;
        --link-color: #00f;
        --text-color: #000;
        --table-header-background: #4f5768;
        --table-header-color: #fff;
        --table-row-even: #f3f3f3;
        --table-row-border: #ddd;
    }
}

body {
    display: flex;
    justify-content: center;

    background: var(--background);
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

main {
    max-width: 100%;
    width: 800px;

    font-family: system-ui, sans-serif;
    font-size: 13pt;
}

.page-header {
    margin: 0 10px;
    
    padding-top: 20px;

    font-weight: 100;
    text-align: center;
}

.page-header-link {
    color: var(--text-color);

    text-decoration: none;
}

.articles > .article {
    margin: 10px;

    padding: 10px 0 15px 0;

    border-bottom: 1px solid #231c332e;
}

.article {
    margin: 10px 0;

    padding: 10px 10px 15px 10px;
}

.article-time {
    font-size: 13px;
}

.article-title {
    margin: 0;

    font-size: 24px;
}

.article-title-link {
    color: var(--text-color);
    text-decoration: none;
}

.article-content {
    overflow-x: auto;
}

.article-content > table {
    width: 100%;

    margin: 25px 0;

    border-collapse: collapse;
    
    font-size: 0.9em;
    font-family: sans-serif;

    border: 1px solid var(--table-row-border);
}

.article-content > table thead tr {
    background: var(--table-header-background);
    color: var(--table-header-color);
    text-align: left;
}

.article-content > table :is(th, td) {
    padding: 12px 15px;
}

.article-content > table tbody tr {
    border-bottom: 1px solid var(--table-row-border);
}

.article-content > table tbody tr:nth-of-type(even) {
    background: var(--table-row-even);
}

.article-info {
    display: block;

    padding-right: 10px;

    text-align: right;
}

.article-info-link {
    font-size: 12pt;
}

.archive {
    display: block;
    text-align: center;
}

.archive-link {
    color: var(--text-color);
    font-size: 13pt;
    text-decoration: none;
}
